@import "src/scss/_variables.scss";

.page {
   background-color: $bg-primary;
   min-height: 100vh;
}

.page-content {
   padding: 40px $body-spc 80px;
   color: $text-page;
   display: flex;
   flex-direction: column;

   // This makes all pages fill up the view height
   // and pushes the footer down to the bottom of the page
   min-height: calc(100vh - #{$navbarH} - 120px);
   margin: 0 auto;
   width: 100%;

   &.y-center {
      justify-content: center;
   }

   &.y-top {
      justify-content: flex-start;
   }

   &.x-center {
      align-items: center;
   }

   &.x-left {
      align-items: flex-start;
   }
}

@media screen and (max-width: 500px) {
   .page-content {
      padding-left: $body-spc;
      padding-right: $body-spc;
   }
}
