@import '../../../_variables.scss';



.success,
.error,
.processing {
   border-radius: 1.5px;
   margin-bottom: 10px;
   text-align: center;
}

.success {
   color: green;
}

.error {
   color: red;
}

.processing {
   color: green;
}
