@import '../../../_variables.scss';



.success,
.error,
.processing {
   padding: 5px;
   border-radius: 1.5px;
   margin-bottom: 20px;
   text-align: center;
}

.success {
   color: green;
}

.error {
   color: red;
}

.processing {
   padding: 5px;
   color: $text-success;
}
