@import "src/scss/_variables.scss";

header {
   height: $navbarH;
   display: flex;
   align-items: center;
}

nav {
   flex-grow: 1;
   display: flex;
   padding: 0 $body-spc;
}

a {
   color: $text-navbar;
   margin-right: $body-spc;
   padding: 1px 6px;

   &:hover,
   &.active {
      color: $light;
      background-color: $primary-bright-dark;
   }
}
