
/* FONTS */
h1 {
   font-family: 'Lato', sans-serif;
}

/* COLORS */
.btn {
   background: #7e262e;
   color: #FFECC5;
}
.btn:hover,
.btn.active {
   background: #721C23;
   color: #FFECC5;
}

h1 {
   color: #FFECC5;
}





#body {
   background-image:
   linear-gradient(
     rgba(10, 61, 98, 0.5),
     rgba(10, 61, 98, 0.5)
   ),
   url("~/../assets/images/backgrounds/writing1.jpg");
   background-size: cover;
}




h1 {
   font-family: 'Lato', sans-serif;
   text-align: center;
   font-size: 3.5rem;
   margin-bottom: 20px;
}



/* FORM */
.form-control {
   border: none;
   background: rgba(245,245,245,0.95);
   border-radius: 2px;
   box-shadow: none;
}
.form-control:focus,
.form-control:hover {
   border: none;
   background: rgba(245,245,245,1);
   box-shadow: none;
}

#name,
#email {
   margin-bottom: 20px;
}

#msg {
   margin-bottom: 25px;
}






/* BUTTON */
.btn {
   display: block;
   width: 150px;
   margin: auto;
   border-radius: 2px;
   font-weight: 500;
}
.btn:hover,
.btn.active {
   box-shadow: none;
}



/* PHOTO CREDS */
#photoCreds {
   color: #FFECC5;
   position: relative;
   left: calc(100vw - 215px);
}
.wrapper {
   min-height: calc(100vh - 174px);
}



/* media queries */
@media screen and (max-width:990px) {
   #body { background-position-x: right }
}
@media screen and (max-width:707px) {
   #body { background-position-x: center }
}

@media screen and (max-width:500px) {
   .wrapper { padding-top: 70px; }
}

