@import '../../../_variables.scss';

#body {
   background-color: $bg-page;
}

h1 {
   color: $text-page;
   text-align: center;
   font-size: 3.5rem;
   margin-bottom: 20px;
}

// FORM
.form-control {
   border: none;
   border-radius: 2px;
   box-shadow: none;
}

#name,
#email {
   margin-bottom: 20px;
}

#msg {
   margin-bottom: 10px;
}

#redirectNote {
   margin-bottom: 10px;
   color: $text-page;
   font-size: .8rem;
   text-align: center;
}

// BUTTON
.btn {
   display: block;
   width: 150px;
   margin: auto;
   border-radius: 2px;
   font-weight: 500;
   &:disabled {
      cursor: not-allowed;
   }
}
.btn:hover,
.btn.active {
   box-shadow: none;
}

// media queries
@media screen and (max-width:500px) {
   .wrapper { padding-top: 70px; }
}

