<div id="body">

   <app-navbar></app-navbar>

   <div class="container wrapper">
      <div class="row justify-content-center no-gutters">
         <div class="col-11 col-lg-7">
            <h1>Contact Me</h1>
            <app-msgs *ngIf="error" [msg]="{type: 'error', text: error}"></app-msgs>
            <app-msgs *ngIf="success" [msg]="{type: 'success', text: success}"></app-msgs>

            <form id="contactForm" (ngSubmit)="onSubmit()">
               <div class="row no-gutters">
                  <div class="col-sm-6">
                     <div class="mr-sm-2">
                        <label for="name" class="sr-only">Name</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Your name" [(ngModel)]="name" required>
                     </div>
                  </div>

                  <div class="col-sm-6">
                     <div class="ml-sm-2">
                        <label for="email" class="sr-only">Email</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Your email" [(ngModel)]="email" required>
                     </div>
                  </div>

                  <div class="col-sm-12">
                     <label for="msg" class="sr-only">Message</label>
                     <textarea name="msg" id="msg" class="form-control" rows="8" cols="9" placeholder="Your message" [(ngModel)]="msg" required></textarea>
                  </div>
               </div>

               <p id="redirectNote">Any project requests will be re-directed to the startup I work for.</p>

               <button type="submit" class="btn">Send</button>
            </form>

         </div>
      </div>
   </div>

   <!-- <small id="photoCreds">
      Photo by
      <a target="_blank" rel="noopener noreferrer" href="https://unsplash.com/@ayahya09" class="href">Ali Yahya</a>
      on
      <a target="_blank" rel="noopener noreferrer" href="https://unsplash.com/" class="href">Unsplash</a>
   </small> -->

   <app-footer></app-footer>

</div>