<div id="body">
   <app-navbar></app-navbar>

   <div class="wrapper">
      <div class="featProject">
         <div class="mycard">
            <img [src]="featProject.image" alt="photo of featured project" />
            <!-- <h3><a target="_blank" rel="noopener noreferrer" [href]="featProject.link" class="href">{{ featProject.name }}</a></h3> -->
            <h3 class="fake-href">{{ featProject.name }}</h3>
            <p>{{ featProject.description }}</p>
         </div>
      </div>

      <div class="projects">
         <h2>More Projects</h2>
         <div *ngFor="let proj of projects" class="mycard">
            <h3>
               <a
                  target="_blank"
                  rel="noopener noreferrer"
                  [href]="proj.link"
                  class="href"
                  >{{ proj.name }}</a
               >
            </h3>
            <p>{{ proj.description }}</p>
         </div>
      </div>
   </div>

   <app-footer></app-footer>
</div>
