@import '../../../_variables.scss';



/* FONTS */
// article {
   // font-family: 'Lato', sans-serif;
// }

/* COLORS */
#body {
   background: $bg-page;
}

h2 {
   color: $main-dark;
   margin-top: 20px;
}

p {
   color: $longform-text;
}




/* ARTICLE */
h2 {
   text-align: center;
   font-size: 2rem;
   font-weight: 700;
}

p {
   font-size: 1.2rem;
}



/* PROFILE PHOTO */
img {
   display: block;
   margin: 0 auto 25px auto;
   width: 240px;
   height: 240px;
   object-fit: cover;
   transform: rotate(90deg);
   border-radius: 50%;
}
