@import '../../../_variables.scss';



/* FONTS */
article {
   font-family: 'Lato', sans-serif;
}

/* COLORS */
#body {
   background: $bg-dark;
}

h1,
h2 {
   color: $main-dark;
}

p {
   color: $longform-text;
}




/* ARTICLE */
h1,
h2 {
   text-align: center;
   font-size: 2rem;
}

p {
   text-align: justify;
}



/* PROFILE PHOTO */
img {
   display: block;
   margin: 0 auto 25px auto;
   width: 240px;
   height: 240px;
   object-fit: cover;
   transform: rotate(90deg);
   border-radius: 50%;
}
