<div *ngIf="project" class="projectCard">
   <h3 class="name">{{ project.name }}</h3>

   <p class="description">{{ project.description }}</p>

   <div class="tagRow">
      <app-label size="sm" type="dark">{{ project.role }}</app-label>

      <app-label size="sm" type="dark">{{ project.type }}</app-label>

      <app-label size="sm" type="dark">{{ project.length }}</app-label>

      <app-href *ngFor="let link of project.links" [url]="link.url" size="sm">
         <span class="material-symbols-outlined mr-1">
            {{ link.type === "video" ? "movie" : "link" }}
         </span>
         <span>{{ link.text }}</span>
      </app-href>
   </div>
</div>
