@import "src/scss/_variables.scss";

.projectCard {
   margin-bottom: 20px;
   max-width: 700px;
}

.name,
.description {
   display: block;
   margin: 10px 0;
}

.name {
   font-size: 1.4rem;
   margin-bottom: 0;
}

.tagRow {
   display: flex;
   flex-wrap: wrap;

   > * {
      color: $theme-four;
      margin: 0 10px 10px 0;
      font-size: 0.8rem;
      padding: 1px 6px;
   }

   .role,
   .type,
   .length {
      background-color: #ffd9ce;
      color: $theme-three;
   }

   a {
      display: flex;
      align-items: center;
      background-color: $theme-two;
   }

   a:hover {
      text-decoration: none;
   }

   .material-symbols-outlined {
      font-size: 1rem;
   }
}
