@import '../../../_variables.scss';

#body {
   color: $theme-four;
   background:
   url("~/../assets/images/backgrounds/idea.jpg");
   background-size: cover;
   background-position: center;
}

.wrapper {
   display: flex;
   align-items: center;
}

// ARTICLE
article {
   padding: 0 $body-spc;
   position: relative;
   bottom: 50px;
   min-height: 500px;
   display: flex;
   align-items: center;

   p {
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 15px;
   }
}

// CONTACT ME BUTTON
.btn {
   border-radius: 2px;
   font-weight: 500;
}
.btn:hover,
.btn.active {
   box-shadow: none;
}

// PHOTO CREDS
#photoCreds {
   color: $theme-four;
   position: relative;
   left: calc(100vw - 260px);
}
