@import '../../../_variables.scss';



/* FONTS */
article p,
h3 {
   font-family: 'Lato', sans-serif;
}

/* COLORS */
#body {
   color: $text-home;
}

.btn {
   background: $main-dark;
   color: $main-light;
}
.btn:hover,
.btn.active {
   background: $main-dark-hover;
   color: $main-light;
}




#body {
   background: 
   linear-gradient(
     rgba(0,0,0,0.4),
     rgba(0,0,0,0.4)
   ),
   url("~/../assets/images/backgrounds/waves-dark0.jpg");
   background-size: cover;
}

.wrapper {
   max-width: $width-md;
   display: flex;
   align-items: center;
   justify-content: center;
}





/* ARTICLE */
article {
   padding: 5px;
   position: relative;
   bottom: 50px;

   p {
      font-size: 1.2rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 15px;
   }
}






/* CONTACT ME BUTTON */
.btn {
   display: table;
   margin: 0 auto 0 auto;
   border-radius: 2px;
   font-weight: 500;
}
.btn:hover,
.btn.active {
   box-shadow: none;
}





/* PHOTO CREDS */
#photoCreds {
   color: $main-light;
   position: relative;
   left: calc(100vw - 260px);
}
.wrapper {
   min-height: calc(100vh - 174px);
}

