@import '../../../_variables.scss';


$cardW: 350px;

/* FONTS */
#projects {
   font-family: 'Lato', sans-serif;
}

/* COLORS */
#body {
   background: $bg-page;
   color: $longform-text;
}






/* PROJECTS */
#projects {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   padding: 20px;
   max-width: 1000px;
   margin: auto;

   .mycard {
      flex: 0 0 auto;
      width: 100%;
      max-width: $cardW;
      margin: 0 20px 75px 20px;
      text-align: center;
   }

   img, a, small {
      display: block;
   }

   img {
      width: 100%;
      margin-bottom: 10px;
      border-radius: 1px;
   }

   small {
      margin-bottom: 10px;
      color: $main-dark;
   }

   p {
      text-align: justify;
      font-size: 0.85rem;
      margin-bottom: 10px;
   }
}
