@import '../../../_variables.scss';

$cardW: 350px;
$featProjW: 740px;

.wrapper {
   // offset the margin bottom on the bottom row of cards
   padding-bottom: 125px;
}

#body {
   background-color: $bg-page;
   color: $text-page;
}

// FEATURED PROJECT
#featProject {
   max-width: $featProjW;
   margin: auto;

   .mycard {
      margin: 0 20px 75px 20px;
      text-align: center;

      img, a, small, p {
         display: block;
         margin: 5px 0;
      }
      img {
         width: 100%;
         border-radius: 3px;
      }
      small {
         color: $theme-one;
         font-size: 1rem;
      }
      p {
         text-align: left;
      }
      .proj-name {
         font-size: 1.4rem;
      }
   }
}
