
<!-- footer -->
<footer>
   <div>

      <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/kenneth-keim-4b055214a/">
         linkedin
         <i class="fab fa-linkedin fa-2x"></i>
      </a>

      <a target="_blank" rel="noopener noreferrer" href="https://github.com/kennethkeim">
         github
         <i class="fab fa-github fa-2x"></i>
      </a>

      <a target="_blank" rel="noopener noreferrer" href="https://medium.com/@kkeim77">
         medium
         <i class="fab fa-medium fa-2x"></i>
      </a>

   </div>
   <small>Kenneth Keim &copy; 2019</small>
</footer>
