
footer {
   background: #7e262e;
   color: #FFECC5;
   height: 100px;
   padding-top: 35px;
   text-align: center;
}
footer a {
   color: #FFECC5;
   margin: 0 10px 0 10px;
}
footer a:hover {
   color: rgba(255,236,197,0.7);
}
