@import '../../../_variables.scss';



footer {
   background: $main-dark;
   color: $text-footer;
   height: $footerH;
   padding-top: 35px;
   text-align: center;

   a {
      color: $main-light;

      hover {
         color: rgba(255,236,197,0.7);
      }
   }

   span {
      width: 20px;
      display: inline-block;
   }
   
}

