@import '../../../_variables.scss';



footer {
   background: $main-dark;
   color: $main-light;
   height: 100px;
   padding-top: 35px;
   text-align: center;
}
footer a {
   color: $main-light;
   margin: 0 10px 0 10px;
}
footer a:hover {
   color: rgba(255,236,197,0.7);
}
