
// original theme
$main-dark: #7E262E;
$main-dark-hover: #721C23;
$main-light: #FFECC5;
$longform-text: #fff;
$bg-page: #111;
$text-navbar: $main-light;
$text-footer: $main-light;
$text-home: #fff;

// alt theme
// $main-dark: #e55437;
// $main-dark-hover: #721C23;
// $main-light: #fff;
// $longform-text: #111;
// $bg-page: #fff;
// $text-navbar: #3097bf;
// $text-footer: $main-light;
// $text-home: #fff;

$text-error: #721C23;
$bg-error: #FFcbcb;
$text-success: #216130;
$bg-success: #D4EDDA;
$text-href: #007bff;
$text-href-hover: #0056b3;

$width-md: 600px;
$body-spc: 15px;

// update .wrapper min height if changing this
$footerH: 100px;
$navbarH: 50px;
