
$main-dark: #7E262E;
$main-dark-hover: #721C23;
$main-light: #FFECC5;
$longform-text: #fff;
$bg-dark: #111;
$bg-light: #fff;

$text-error: #721C23;
$bg-error: #FFcbcb;
$text-success: #216130;
$bg-success: #D4EDDA;

$width-md: 600px;
