
$main-dark: #7E262E;
$main-dark-hover: #721C23;
$main-light: #FFECC5;
$longform-text: #fff;
$bg-page: #111;
$text-navbar: $main-light;
$text-footer: $main-light;
$text-home: #fff;



// alt theme
// $main-dark: #7E262E;
// $main-dark-hover: #721C23;
// $main-light: #FFECC5;
// $longform-text: #222;
// $bg-page: #fff;
// $text-navbar: $main-dark;
// $text-footer: $main-light;
// $text-home: #fff;


$text-error: #721C23;
$bg-error: #FFcbcb;
$text-success: #216130;
$bg-success: #D4EDDA;

$width-md: 600px;
$footerH: 100px;
$navbarH: 50px;