/* You can add global styles to this file, and also import other style files */
@import "./scss/_typography.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~normalize.css/normalize.css";
@import "./scss/_reset.scss";
@import "./scss/_variables.scss";

// FORMS
input.ng-valid.ng-touched,
select.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
   border-left: 4px solid green;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
   border-left: 4px solid red;
}

[disabled] {
   cursor: not-allowed;
}
