<!-- footer -->
<footer>
   <div>
      <a
         target="_blank"
         rel="noopener noreferrer"
         href="https://www.linkedin.com/in/kenneth-keim-4b055214a/"
         id="linkedin"
         class="href"
         >LinkedIn</a
      >
      <a
         target="_blank"
         rel="noopener noreferrer"
         href="https://github.com/kennethkeim"
         id="github"
         class="href"
         >GitHub</a
      >
      <br />
      <small>Kenneth Keim &copy; {{ thisYear }}</small>
   </div>
</footer>
