@import "src/scss/_variables.scss";

footer {
   background: $bg-footer;
   color: $text-footer;
   height: $footerH;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

app-href {
   margin-right: 30px;

   &:last-child {
      margin-right: 0;
   }
}

.copyrightText {
   font-size: 0.85rem;
}

.copyrightSymbol {
   font-size: 1.2rem;
}
