<footer>
   <div class="footer-content">
      <div class="links">
         <a *ngFor="let link of links; let last = last" [href]="link.url" target="_blank" rel="noopener">
            {{ link.text }}<span *ngIf="!last" class="separator">&middot;</span>
         </a>
      </div>
      <p class="copyright">
         <span class="yoe">{{ timeSvc.yoe$ | async }} years of experience</span>
         <span class="dot">&middot;</span>
         <span>&copy; {{ thisYear }} Kenneth Keim</span>
      </p>
   </div>
</footer>
