@import "src/scss/_variables.scss";

.row {
   width: 100%;
}

figure {
   // layout element height should be close to final height before image loads
   min-height: 250px;
   display: flex;
   justify-content: flex-end;
}

img {
   width: 100%;
   margin-bottom: 20px;
   max-width: 400px;
   object-fit: cover;
}

section {
   margin-bottom: 30px;

   &:last-child {
      margin-bottom: 0;
   }
}

h1,
h2 {
   font-size: 2rem;
   margin-bottom: 15px;
}

p {
   max-width: 700px;
   margin-bottom: 12px;
}

app-label {
   margin: 0 10px 10px 0;
}
