<div id="body">
   <app-navbar></app-navbar>

   <div class="container wrapper">
      <img src="~/../assets/images/profile.png" alt="profile photo" />

      <div class="row justify-content-center no-gutters">
         <article class="col-11 col-md-10 col-lg-8">
            <h2>About Me</h2>
            <p>
               Hi, I'm Kenneth.<br />
               I live in Lancaster PA and I'm currently the lead developer at
               <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://integro212.com/software"
                  class="href">
                  Integro Software.
               </a>
               I'm married to the love of my life and I enjoy freshly brewed coffee,
               <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://itunes.apple.com/us/playlist/folk-indie-rock-alternative/pl.u-b6jNF59125z"
                  class="href">
                  good music,
               </a>
               and learning about science and technology.
            </p>

            <h2>Technologies</h2>
            <p>
               My main stack is Google Firestore, NestJS, Angular, and Node.js.<br />
               I've also worked with these languages and tools: C, Python, JavaScript,
               HTML, CSS, NativeScript, MongoDB, PostgreSQL, and SQLite.
            </p>

            <h2>Certifications</h2>
            <p>
               <!-- <a target="_blank" rel="noopener noreferrer" href="https://courses.edx.org/certificates/b689cf80383f4fbe8d0102aae809d633" class="href"> -->
               HarvardX CS50's Intro to Computer Science
               <!-- </a> -->
               was my starting point. From there, I've taken more online classes and
               learned by building things.
            </p>
         </article>
      </div>
   </div>

   <app-footer></app-footer>
</div>
