@import "src/scss/_variables.scss";

#body {
   background-color: $bg-page;
}

h2 {
   color: $theme-one;
   margin-top: 20px;
}

p {
   color: $text-page;
}

// ARTICLE
h2 {
   text-align: center;
   font-size: 1.8rem;
   font-weight: 700;
}

// PROFILE PHOTO
img {
   display: block;
   margin: 0 auto 25px auto;
   width: 240px;
   height: 240px;
   object-fit: cover;
   border-radius: 50%;
}
